 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url("/Mint_Coffee/Images/back_ground_admin.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
}
p{
    transition: all 0.25s;
}
.header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 2%;
    color:white;
    text-shadow: 0px 20px 25px;
}
.Wraper{
    display: flex;
    justify-content: center;
}
.option_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top:7%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 2%;
    justify-content: center;
    align-content: space-between;
}
.but{
    background-image: url("/Mint_Coffee/Images/Khachhang.png");
    background-size: cover;
    padding-top:8%;
    padding-bottom: 8%;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but:hover{
    box-shadow: -20px 20px 20px;
}
.but:hover p{
    color: white;
    text-shadow: -10px 10px 5px black;
}
.but1{
    background-image: url("/Mint_Coffee/Images/Customers.jpg");
    background-size: cover;
    padding:8%;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but1:hover{
    box-shadow: 0px 20px 20px;
}
.but1:hover p{
    color: white;
    text-shadow: 0px 10px 5px black;
}
.but2{
    background-image: url("/Mint_Coffee/Images/Order_Customer.jpg");
    background-size: cover;
    padding:8%;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but2:hover{
    box-shadow: 20px 20px 20px;
}
.but2:hover p{
    color: white;
    text-shadow: 10px 10px 5px black;
}
.text{
    display: block;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 2%;
    text-shadow: 0px 0px 10px white;
}
.text0{
    display: block;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding:2px ;
    text-shadow: 0px 0px 10px white;
}
.text1{
    padding:2px ;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 0px 10px white;
}
.Sign_out_Wrap{
    padding: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.sign_out{
    width: 100px;
    height: 35px;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
    transition: 0.75s;
    font-family: "Sofia", sans-serif;
    border: none;
}
.sign_out:hover{
    color: red;
    background-color: white;
    font-size: 20px;
    height: 35px;
    width: 100px;
    border: none;
    font-family: "Sofia", sans-serif;
    box-shadow: 0px 20px 20px black;
}
.but3{
    background-image: url("/Mint_Coffee/Images/160ed4a37fa0ca3b118de684ad297928.jpg");
    background-size: cover;
    padding:7%;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but3:hover{
    box-shadow: -20px 20px 20px;
}
.but3:hover p{
    color: white;
    text-shadow: -10px 10px 5px black;
}
.text2{
    margin-top: 17%;
    padding:2px ;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 0px 10px white;
}
.but4{
    background-image: url("/Mint_Coffee/Images/R.jpg");
    background-size: cover;
    padding:5%;
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but4:hover{
    box-shadow: 0px 20px 20px;
}
.but4:hover p{
    color: white;
    text-shadow: 0px 10px 5px black;
}
.text3{
    margin-top: 20%;
    padding:2px ;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 0px 10px white;
}
.but5{
    background-image: url("/Mint_Coffee/Images/coffee_cup.jpg");
    background-size: cover;
    padding:5%;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-style: solid;
    border-color: black;
    border-width: 5%;
    border-radius: 10%;
    background-color: white;
    transition: 0.75s;
}
.but5:hover{
    box-shadow: 20px 20px 20px;
}
.but5:hover p{
    color: white;
    text-shadow: 10px 10px 5px black;
}
.text4{
    margin-top:20%;
    padding:2px ;
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 10px white;
}











































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */