 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.header_cart{
    text-align: center;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}
.wrap_find{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5%;
    justify-content: center;
}
.FIND_FORM{
    text-align: center;
    justify-content: center;
    display: block;
    flex-wrap: wrap;
}
.name{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-width: 2px;
    outline: 0;
    height: 22px;
    font-size: 18px;
    width:200px;
    transition: 0.25s;
    background-color: transparent;
}
.name:focus{
    width: 350px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.phone{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-width: 2px;
    outline: 0;
    height: 22px;
    font-size: 18px;
    width:200px;
    transition: 0.25s;
    background-color: transparent;
}
.phone:focus{
    width: 350px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.find_but{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    background-color: black;
    color:white;
    transition: 0.25s;
}
.find_but:hover{
    color:black;
    background-color: white;
    box-shadow: 0px 12px 20px;
}
.products{
    display: block;
    justify-content: center;
}
.box-container{
    display: block;
    padding: 5%;
    padding-top: 5%;
    justify-content: center;
    width: 100%;
}
.box{
    transition: 0.25s;
    width: 100%;
    justify-content: center;
    border-style:solid ;
    border-collapse: collapse;
    border-color: black;
    border-bottom: black;
    border-left: none;
    border-right: none;
    border-radius:  10px;
}
.header{
    border-style : solid ;
    border-color: black;
    border-radius:  10px;
    padding: 2%;
    font-size: 17px;
}
.Table_header{
    font-size: 17px;
    padding: 2%;
}
.Table_header_option{
    font-size: 17px;
    padding: 2%;
    width: 120px;
}
.Table_data{
    padding: 2%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-bottom: black;
    word-wrap: break-word;
}
.Table_data_option{
    width: 100px;
    padding: 2%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    border-bottom: black;
}
.NOTE{
    text-align: left;
    word-wrap: break-word;
    display: block;
    width: 150px;
}
.cancel_or{
    height: 30px;
    width: 100px;
    font-size: 18px;
    background-color: red;
    color:white;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    transition: 0.25s;
}
.cancel_or:hover{
    background-color: white;
    color:red;
    border-color: white;
}
.acpt_or{
    height: 30px;
    width: 100px;
    font-size: 18px;
    background-color: black;
    color:white;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    transition: 0.25s;
}
.acpt_or:hover{
    background-color: white;
    color:black;
    border-color: white;
}
.wrap_noft{
    text-align:center;
    justify-content:space-around;
    padding:10%;
    width:100%;
}
.noft{
    text-align:center;
    font-size:14px;
}
.But_gr{
    position: fixed;
    bottom: 15%;
    right: 3%;
    justify-content: center;
}
.home_but{
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border-color: white;
    transition: 0.25s;
    background-image: url('/Mint_Coffee/Images/Home_Ad.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.home_but:hover{
    border-color: black;
    box-shadow: 12px 12px 20px;
    background-color: white;
    background-image: url('/Mint_Coffee/Images/Home_admin_2.png');
    background-position: center;
    background-repeat: no-repeat;
}
.text{
    font-size: 16px;
    position: fixed;
    transition: 0.25s;
    opacity: 0;
    transform: translateY(-50px);
    transform: translateX(-100px);
}
.home_but:hover~.text{
    opacity: 1;
}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */