 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.logo{
    margin-left: -25px;
}
.COUNT{
    font-size: 12px;
    background-color: aliceblue;
    border-radius: 20%;
    color: black;
    width: 50%;
    padding: 2px;
}
.bag{
    float:left;
    margin-right: 3px;
    padding-top: 1px;
    margin-top: 10px;
}
.BAG{
    margin-left: -45%;
    margin-top: -30%;
}
.menu_bar{
    background-color: black;
    height: auto;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
    position: fixed;
    z-index: 1000;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    align-items:center;
    display: flex;
    position: relative;
}
.menu_bar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s;
}
.menu{
    margin-top: 15px;
    margin-left: -15px;
    transition: 0.25s;
}
.cart{
    margin-top: 5px;
    margin-right: 30px;
    margin-left: -10px;
    transition: 0.25s;
}
.menu:hover{
    width: 40px;
    height: 40px;
    margin-top:17px;
    margin-right: -5px;
    margin-left: -20px;   
}
.cart:hover{
    width: 40px;
    height: 40px;
    margin-right: 25px;
}
.menudown{
    display: none;
    z-index:100;
}
.menu_bar ul li:hover .menudown{
    display: block;
    position: absolute;
    left: -970%;
    top: 90%;
    background-color: black;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul{
    display: block;
    margin: 14px;
    margin-right: -2px;
    z-index:100;
}
.menu_bar ul li:hover .menudown ul li{
    width: 160px;
    padding: 17px 0;

}
.menudown ul li a:hover{
    color:aqua;
}
.drop_down_menu{
    display: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu{
    display: block;
    position: absolute;
    left: -165px;
    bottom: -142px;
    background-color: black;
    text-decoration: none;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul{
    display: block;
    margin: 15px;
    margin-right: -10px;
    z-index:100;
}
.menudown ul li:hover .drop_down_menu ul li:hover{
    width: 150px;
    padding: 17px 0;
    z-index:100;
}
.icon_left{
    float: left;
    margin-right: 10px;
    padding-top: 3px;
}
.change_cancel{
    position: absolute;
    top:15%;
    right:1%;
    justify-content: center;
}
.change_His{
    position: absolute;
    top:15%;
    left:2%;
    justify-content: center;
}
.link_to_cancel{
    text-decoration: none;
    color:black;
    font-size:22px;
    justify-content: center;
    text-shadow: -12px 12px 15px;
    transition: 0.25s;
}
.link_to_cancel:hover{
    text-shadow: 12px 12px 15px;
}
.link_to_His{
    color:black;
    font-size:22px;
    text-decoration:none;
    justify-content: center;
    text-shadow: 12px 12px 15px;
    transition: 0.25s;
}
.link_to_His:hover{
    text-shadow: -12px 12px 15px;
}
.change_His a img{
    transition: 0.25s;
}
.change_His:hover a img{
    rotate: -90deg;
}
.change_cancel a img{
    transition: 0.25s;
}
.change_cancel:hover a img{
    rotate: 90deg;
}
.header_cart{
    text-align: center;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}
.products{
    display: block;
    justify-content: center;
}
.box-container{
    display: block;
    padding: 10%;
    padding-top: 5%;
    justify-content: center;
    width: 100%;
}
.box{
    transition: 0.25s;
    width: 100%;
    justify-content: center;
    border-style:solid ;
    border-collapse: collapse;
    border-color: black;
    border-bottom: black;
    border-left: none;
    border-right: none;
    border-radius:  10px;
}
.header{
    border-style : solid ;
    border-color: black;
    border-radius:  10px;
    padding: 5%;
    font-size: 17px;
}
.Table_header{
    text-align: center;
    font-size: 17px;
    padding: 2%;
}
.Table_data{
    padding: 2%;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    border-bottom: black;
}
.NOTEE{
    text-align: left;
    word-wrap: break-word;
    width: 170px;
}
.Cancel_or{
    height: 30px;
    width: 110px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}
.Receive_Or{
    height: 30px;
    width: 80px;
    font-size: 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}
.Cancel_or:hover{
    background-color:white ;
    color: red;
}
.Receive_Or:hover{
    background-color:white ;
    color: black;
}
.Cancel_or:disabled{
    background-color: red;
    color: white;
    opacity: 0.25;
}
.Cancel_or:hover:disabled{
    background-color: red;
    color: white;
    opacity: 0.25;
}
.wrap_noft{
    text-align:center;
    justify-content:space-around;
    padding:10%;
    width:100%;
}
.noft{
    text-align:center;
    font-size:14px;
}
.footer{
    justify-content: space-between;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}
.info1{
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-top: -50%;
    padding-left: -50%;
    padding-bottom: -50%;
}
.phone1{
    text-decoration: none;
    color: white;
}
.logo1{
    text-align: center;
    padding-bottom: 5%;
}
.link{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    color: white;
}
.info2{
    text-align: left;
    float: right;
    padding-top: 5%;
}


































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */