 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.wrap_noft{
    width:100%;
    justify-content: center;
    display: block;
}
.noft{
    color:black;
    font-size: 20px;
    text-align: center;
}
.But_gr{
    display: block;
    position: fixed;
    bottom: 15%;
    right: 3%;
    justify-content: center;
}
.home_but{
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border-color: white;
    transition: 0.25s;
    background-image: url('/Mint_Coffee/Images/Home_Ad.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.home_but:hover{
    border-color: black;
    box-shadow: 12px 12px 20px;
    background-color: white;
    background-image: url('/Mint_Coffee/Images/Home_admin_2.png');
    background-position: center;
    background-repeat: no-repeat;
}
.text{
    font-size: 16px;
    position: fixed;
    transition: 0.25s;
    opacity: 0;
    transform: translateX(-100px) translateY(0px);
}
.home_but:hover~.text{
    opacity: 1;
}
.Edit_Menu{
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border-color: white;
    transition: 0.25s;
    background-image: url('/Mint_Coffee/Images/plus_white.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.Edit_Menu:hover{
    border-color: black;
    box-shadow: 12px 12px 20px;
    background-color: white;
    background-image: url('/Mint_Coffee/Images/plus_black.png');
    background-position: center;
    background-repeat: no-repeat;
}
.text_edit{
    font-size: 16px;
    position: fixed;
    transition: 0.25s;
    opacity: 0;
    transform: translateX(-100px) translateY(0px);
}
.Edit_Menu:hover~.text_edit{
    opacity: 1;
}
.header{
    padding-top: 5%;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;
}
.ser_wrap{
    width: 100%;
    justify-content: center;
    justify-items: center;
    display: flex;
    padding-top: 5%;
}
.ser_box{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.ser{
    display: block;
    justify-content: center;
}
.ser_inp{
    font-size: 17px;
    height: 22px;
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    outline: 0;
    border-width: 2px;
    background-color: transparent;
    transition: 0.75s;
}
.ser_inp:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.ser_label{
    transition: 0.75s;
    font-size: 17px;
    position: absolute;
    transform: translateY(-25px);
    z-index: 0;
    opacity: 0;
}
.ser_inp:focus~.ser_label{
    font-size: 17px;
    transform: translateY(-50px);
    opacity: 1;
}
.but_sub{
    justify-content: center;
    text-align: center;
    transition: 0.75s;
}
.ser_but{
    width: 90px;
    height: 30px;
    font-size: 17px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    color: white;
    opacity: 1;
    transition: 0.75s;
}
.ser_inp:focus~.but_sub{
    opacity: 0;
}
.ser_but:hover{
    box-shadow: 12px 12px 20px;
    background-color: white;
    color:black;
    border-color: black;
}
.menu_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 5%;
}
.menu_box{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.box{
    justify-content: center;
    padding: 5%;
    border-collapse: collapse;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 85%;
}
.head{
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.table_head{
    padding: 2%;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.table_body{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}
.table_data{
    justify-content: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom:5px ;
}
.image_pro{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.edit_menu{
    width: 90px;
    height: 30px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    transition: 0.25s;
}
.edit_menu:hover{
    background-color: white;
    border-color: black;
    color:black;
    cursor: pointer;
}
.del_menu{
    width: 90px;
    height: 30px;
    font-size: 17px;
    background-color: red;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 10px;
    transition: 0.25s;
}
.del_menu:hover{
    background-color: white;
    border-color: red;
    color:red;
    cursor: pointer;
}
.ask_wrap{
    position: fixed;
    top:0;
    left: 0;
    justify-content: center;
    justify-items: center;
    z-index:1000;
    backdrop-filter: blur(10px);
    display: none;
    width: 100%;
    height: 100%;
    transition:0.75s;
}
.ask{
    position: fixed;
    justify-content: center;
    justify-items: center;
    display: flex;
    top: 30%;
}
.ask_box{
    padding: 5%;
    display: block;
    justify-content: center;
    justify-items: center;
    transition: 0.75s;
}
.HEAD{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.Choose{
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 30%;
}
.Yes{
    width: 90px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: red ;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    transition: 0.25s;
}
.Yes:hover{
    background-color: white;
    color: red;
    border-color: red;
    cursor: pointer;
}
.No{
    width: 90px;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: black ;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
}
.No:hover{
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
    transition: 0.25s;
}
.Head_edit{
    padding-bottom: 10%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.Wrap_box_edit{
    position: fixed;
    display: none;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;

}
.Wrap_edit{
    display: flex;
    justify-content: center;
    width: 100%;
}
.box_EDIT{
    display: block;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 4%;
    background-color: white;
}
.label_name{
    font-size: 20px;
    font-weight: bold;
}
.Nam{
    width:350px;
    height: 30px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    outline: 0;
    border-width: 2px;
}
.Price_label{
    font-size: 20px;
    font-weight: bold;
}
.Pri{
    width:350px;
    height: 30px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    outline: 0;
    border-width: 2px;
}
.DONVI_EDIT{
    position: absolute;
    transform: translateX(-70px);
    font-size:18px;
}
.SELECT_EDIT{
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    outline: 0;
    border-width: 2px;
}
.Out_stock{
    width: 135px;
    height: 30px;
    background-color: red;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    transition: 0.25s;
}
.Out_stock:hover{
    background-color: white;
    color: red;
    border-color: red;
}
.In_stock{
    width: 100px;
    height: 30px;
    background-color: black;
    font-size: 18px;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    transition: 0.25s;
}
.In_stock:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.CATE_LABEL{
    font-size: 20px;
    font-weight: bold;
}
.IMG_EDI{
    text-align: center;
}
.Image_EDIT{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.choose_IMG_EDI{
    justify-content: center;
    text-align: center;
}
.file_EDIT{
    height: 30px;
    font-size: 16px;
}
.EDIT_GROUP_BUT{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}
.EDIT_but{
    width: 90px;
    height: 30px;
    font-size: 17px ;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 0.25s;
}
.CANCEL_EDIT{
    width: 90px;
    height: 30px;
    font-size: 17px ;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: 0.25s;
}
.EDIT_but:hover{
    background-color: white;
    color:black;
    border-color:black ;
}
.CANCEL_EDIT:hover{
    background-color: white;
    color:black;
    border-color:black ;
}






































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */