 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.head_page{
    position: absolute;
    transform: translateY(-185px) translateX(-85px);
    rotate: -90deg;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 1%;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    background-color: white;
    transition: 0.75s;
    opacity: 0;
}
.Wrapper{
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.box:hover p{
    rotate: 0deg;
    transform: translateY(-25px);
    opacity: 1;
}
.box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.new_menu{
    display: block;
    justify-content: center;
    padding: 3%;
    transition: 0.75s;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}
.new_menu:hover{
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 15px 15px 20px;
}
.name_menu{
    display: block;
    flex-wrap: nowrap;
    padding-bottom: 10%;
}
.name_menu input{
    height: 25px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    outline: 0;
    font-size: 18px;
    background-color: transparent;
    transition: 0.25s;
}
.name_menu input:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.name_menu label{
    position: absolute;
    transform: translateY(-30px);
    font-size: 2px;
    opacity: 0;
    transition: 0.25s;
}
.name_menu input:focus~label{
    opacity: 1;
    font-size: 18px;
    transform: translateY(-50px);
}
.price{
    display: block;
    flex-wrap: nowrap;
    padding-bottom: 10%;
}
.price input{
    height: 25px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: black;
    border-width: 2px;
    outline: 0;
    font-size: 18px;
    background-color: transparent;
    transition: 0.25s;
}
.price input:focus{
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
}
.donvi{
    font-size: 17px;
    position: absolute;transform: translateY(-25px) translateX(210px);
    opacity: 0;
    transition: 0.75s;
}
.price input:focus~.donvi{
    opacity: 1;
}
.price input:focus~label{
    opacity: 1;
    font-size: 18px;
    transform: translateY(-50px);
}
.price label{
    position: absolute;
    transform: translateY(-30px);
    font-size: 2px;
    opacity: 0;
    transition: 0.25s;
}
.category{
    display: block;
    justify-content: center;
    padding-bottom: 5%;
}
.CHOOSE{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-width: 2px;
    outline: 0;
    background-color: transparent;
    font-size: 17px;
    width: 120px;
    height: 30px;
}
.image{
    padding-top: 2%;
    justify-content: center;
    text-align: center;
}
.head_Up{
    font-size: 18px;
    font-weight: bold;
}
.image_file{
    font-size: 17px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.SUBMIT{
    text-align: center;
    width: 85px;
    height: 30px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    transition: 0.75s;
}
.SUBMIT:hover{
    background-color: white;
    color: black;
}
.But_gr{
    display: block;
    position: fixed;
    bottom: 15%;
    right: 3%;
    justify-content: center;
}
.home_but{
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border-color: white;
    transition: 0.25s;
    background-image: url('/Mint_Coffee/Images/Home_Ad.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.home_but:hover{
    border-color: black;
    box-shadow: 12px 12px 20px;
    background-color: white;
    background-image: url('/Mint_Coffee/Images/Home_admin_2.png');
    background-position: center;
    background-repeat: no-repeat;
}
.text{
    font-size: 16px;
    position: fixed;
    transition: 0.25s;
    opacity: 0;
    transform: translateX(-100px) translateY(0px);
}
.home_but:hover~.text{
    opacity: 1;
}
.Edit_Menu{
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border-color: white;
    transition: 0.25s;
    background-image: url('/Mint_Coffee/Images/editing_white.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.Edit_Menu:hover{
    border-color: black;
    box-shadow: 12px 12px 20px;
    background-color: white;
    background-image: url('/Mint_Coffee/Images/editing_black.png');
    background-position: center;
    background-repeat: no-repeat;
}
.text_edit{
    font-size: 16px;
    position: fixed;
    transition: 0.25s;
    opacity: 0;
    transform: translateX(-100px) translateY(0px);
}
.Edit_Menu:hover~.text_edit{
    opacity: 1;
}











































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */