 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Sofia", sans-serif;
    display: flex;
    justify-content: center;
    background-image: url("/Mint_Coffee/Images/hinh-anh-ly-cafe-dep.jpg");
    object-fit: fill;
}
.Login{
    width: auto;
    position: fixed;
    top: 16% ;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    background-color:transparent;
    backdrop-filter: blur(35px);
}
.Login h2{
    color:white;
    text-shadow: 12px 12px 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: "Sofia", sans-serif;
}
.log{
    padding-left: 5% ;
    padding-right: 5%;
    padding-bottom: 2%;
}
.Name{
    padding-top: 7%;
    padding-bottom: 7% ;
    transition:  0.75s;
}
.User_name{
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: 0;
    transition: 0.75s;
    border-top: none;
    border-right: none;
    border-left: none;
    background:none;
}
.NA{
    position: absolute;
    font-size: 14px;
    font-style: italic;
    transition: 0.75s;
    transform: translateY(-25px);
    opacity: 0;
}
.User_name:focus{
    font-size: 18px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
    transition: 0.75s;
}
.User_name::placeholder{
    font-size: 18px;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    color: black;
}
.User_name:focus~.NA{
    font-size: 14px;
    transform: translateY(-52px);
    transition: 0.75s;
    opacity: 1;
}
.Phone{
    padding-top: 7%;
    padding-bottom: 7% ;
    transition:  0.75s;
}
.Phone_number{
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: 0;
    transition: 0.75s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.PNB{
    position: absolute;
    font-size: 14px;
    font-style: italic;
    transition: 0.75s;
    transform: translateY(-25px);
    opacity: 0;
}
.Phone_number:focus{
    font-size: 18px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
    transition: 0.75s;
}
.Phone_number::placeholder{
    font-size: 18px;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    color: black;
}
.Phone_number:focus~.PNB{
    position: absolute;
    font-size: 14px;
    transform: translateY(-52px);
    transition: 0.75s;
    opacity: 1;
}
.PASS{
    padding-top: 7%;
    padding-bottom: 7% ;
    transition:  0.75s;
}
.pass{
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: 0;
    transition: 0.75s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.P{
    position: absolute;
    font-size: 14px;
    font-style: italic;
    transition: 0.75s;
    transform: translateY(-25px);
    opacity: 0;
}
.pass:focus{
    font-size: 18px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
    transition: 0.75s;
}
.pass::placeholder{
    font-size: 18px;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    color: black;
}
.pass:focus~.P{
    position: absolute;
    font-size: 14px;
    transform: translateY(-52px);
    transition: 0.75s;
    opacity: 1;
}

.CPASS{
    padding-top: 7%;
    padding-bottom: 7% ;
    transition:  0.75s;
}
.cpass{
    height: 30px;
    width: 100%;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    outline: 0;
    transition: 0.75s;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.CP{
    position: absolute;
    font-size: 14px;
    font-style: italic;
    transition: 0.75s;
    transform: translateY(-25px);
    opacity: 0;
}
.cpass:focus{
    font-size: 18px;
    border-image: linear-gradient(to right, #f7df6c, #1c8ce1)1;
    transition: 0.75s;
}
.cpass::placeholder{
    font-size: 18px;
    font-family: "Sofia", sans-serif;
    font-style: italic;
    color: black;
}
.cpass:focus~.CP{
    position: absolute;
    font-size: 14px;
    transform: translateY(-52px);
    transition: 0.75s;
    opacity: 1;
}
.SHOW{
    padding-bottom: 1% ;
    transition:  0.75s;
}
.show{
    transform: translateY(2px);
    margin-top: 10px;
    height: 17px;
    width: 17px;
    background-color: #eee;
}
.SP{
    font-size: 17px;
}
.Sub{
    text-align: center;
    padding-top: 5%;
    transition: all 0.75s;
}
.sub_but{
    font-size: 17px;
    width: 75px;
    height: 33px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-style: solid;
    font-family: "Sofia", sans-serif;
    border-color: black;
    border-width: 2px;
    border-radius: 5%;
    transition:  0.75s;
}
.sub_but:hover{
    background-color: transparent;
    color:black;
    border-color: white;
    transition:  0.75s;
}
.sub_but:active{
    border-color: transparent;
    color: transparent;
}
.tx{
    padding: 5%;
    text-align: center;
}
.text{
    font-size: 17px;
}






























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































 /* Author : Trần Minh Quân 22NS056,
Thái Thị Hồng Phúc 22NS048 */